body { 
    margin: 0; 
    font-family: arial, sans-serif; 
    display: flex; 
    height: 100vh; 
} 

.admin-panel { 
    display: flex; 
    width: 100%; 
} 

.sidebar { 
    background-color: #ab2525; 
    color: #fff; 
    width: 250px; 
    padding: 20px; 
    box-sizing: border-box; 
} 

.sidebar h2 { 
    text-align: center; 
    margin-bottom: 20px; 
} 

.sidebar ul { 
    list-style: none; 
    padding: 0; 
} 

.sidebar ul li { 
    margin-bottom: 10px; 
} 

.sidebar ul li a { 
    color: #fff; 
    text-decoration: none; 
    display: block; 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
} 

.sidebar ul li a:hover { 
    background-color: #ea5959; 
} 

.main-content { 
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #f9f9f9; 
} 

header { 
    margin-bottom: 20px; 
} 

#content { 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}